# Python | Pandas DataFrame

### What is Pandas?

<b>pandas</b> is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

### What is a Pandas DataFrame?

<b>Pandas DataFrame</b> is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Pandas DataFrame consists of three principal components, the data, rows, and columns.

<img src="images/pandas.jpg">

A Pandas DataFrame will be created by loading the datasets from existing storage. Storage can be SQL Database, CSV file, and Excel file. 
Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

Dataframe can be created in different ways here are some ways by which we create a dataframe:

### Creating a dataframe using List:

In [2]:
# import pandas as pd
import pandas as pd
 
# list of strings
lyst = ['CSC', '102', 'is', 'the', 'best', 'course', 'ever']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lyst)

# Print the output.
df

        0
0     CSC
1     102
2      is
3     the
4    best
5  course
6    ever

### Creating a dataframe using dict of narray/lists:

In [ ]:
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Angela', 'Precious', 'Luis', 'Ade'],
        'Age':[20, 21, 19, 18,20]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

### Column Selection:

In [ ]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Clem', 'Prince', 'Edward', 'Adele'],
        'Age':[27, 24, 22, 32],
        'Address':['Abuja', 'Kano', 'Minna', 'Lagos'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
df[['Name', 'Qualification']]

### Row Selection:
Pandas provide a unique method to retrieve rows from a Data frame.<br>
<i><font color="green">DataFrame.iloc[]</font></i> method is used to retrieve rows from Pandas DataFrame.<br>

In [8]:
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Oyin', 'Mary', 'David', 'Bola'],
        'Age':[27, 24, 22, 32],
        'Address':['Asaba', 'Maiduguri', 'Onitsha', 'Kwara'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select first row
df.iloc[0]

Name              Oyin
Age                 27
Address          Asaba
Qualification      Msc
Name: 0, dtype: object

### Read from a file:

In [ ]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employe_records.csv")

# print excel
data

### Select first row from file

In [ ]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

df=data.iloc[0]

# print excel
df

### Selecting Row with Title Header

In [ ]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("bcg.cs")

df=data.head(1)

# print excel
df

### Looping over rows and columns
A loop is a general term for taking each item of something, one after another.<br> Pandas DataFrame consists of rows and columns so, in order to loop over dataframe, we have to iterate a dataframe like a dictionary.<br><br>
In order to iterate over rows, we can use two functions <i><font color="green">iteritems(), iterrows() </font></i>. These two functions will help in iteration over rows.

In [ ]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["Abdul", "Chukwuemeka", "Seyi", "Matt"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

### Looping over Columns :
In order to loop over columns, we need to create a list of dataframe columns and then iterating through that list to pull out the dataframe columns.

In [ ]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
dict = {'name':["Bello", "Kamara", "Ugochi", "David"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
 
    # printing the third element of the column
    print (df[i][2])

### Saving a DataFrame as CSV file

In [ ]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
records = {'name':["Abel", "Kamsi", "Oyode", "Chinelo"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(records)

# saving the dataframe
df.to_csv('record.csv')

## Class Project I

####  Go to www.kaggle.com

Kaggle allows users to find and publish data sets, explore and build models in a web-based data-science environment, work with other data scientists and machine learning engineers, and enter competitions to solve data science challenges.

#### Download the following dataset:
1. Top Apps in Google Play
2. Cryptocurrency Predict Artificial Intelligence V3
3. Programming Languages Trend Over Time

#### Clue
You can signin with either Google, facebook or Linkedin account

#### Task
Display the first 7 rows of each dataset<br>
Select the first 3 colums of each dataset<br>
Display only one row and header of each dataset

In [ ]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data1 = pd.read_csv("BTC_DATA_V3.0.csv")
data2 = pd.read_csv("Candy Crush Saga.csv")
data3 = pd.read_csv("Dropbox.csv")
data4 = pd.read_csv("Facebook Lite.csv")
data5 = pd.read_csv("Facebook Messenger.csv")
data6 = pd.read_csv("Facebook.csv")
data7 = pd.read_csv("Flipboard.csv")
data8 = pd.read_csv("Instagram.csv")
data9 = pd.read_csv("LINE.csv")
data10 = pd.read_csv("Microsoft PowerPoint.csv")
data11 = pd.read_csv("Microsoft Word.csv")
data12 = pd.read_csv("Netflix.csv ")
data13 = pd.read_csv("programming language trend over time.csv")
data14 = pd.read_csv("SHAREit.csv ")
data15 = pd.read_csv("Skype.csv")
data16 = pd.read_csv("Snapchat.csv")
data17 = pd.read_csv("Spotify.csv")
data18 = pd.read_csv("Subway Surfers.csv")
data19 = pd.read_csv("TikTok.csv")
data20 = pd.read_csv("Twitter.csv")
data21 = pd.read_csv("Viber.csv")
data22 = pd.read_csv("WhatsApp.csv")

# pMaking dataframes
df1 = pd.DataFrame(data1).iloc[0:8]
df2 = pd.DataFrame(data2).iloc[0:8]
df3 = pd.DataFrame(data3).iloc[0:8]
df4 = pd.DataFrame(data4).iloc[0:8]
df5 = pd.DataFrame(data5).iloc[0:8]
df6 = pd.DataFrame(data6).iloc[0:8]
df7 = pd.DataFrame(data7).iloc[0:8]
df8 = pd.DataFrame(data8).iloc[0:8]
df9 = pd.DataFrame(data9).iloc[0:8]
df10 = pd.DataFrame(data10).iloc[0:8]
df11 = pd.DataFrame(data11).iloc[0:8]
df12 = pd.DataFrame(data12).iloc[0:8]
df13 = pd.DataFrame(data13).iloc[0:8]
df14 = pd.DataFrame(data14).iloc[0:8]
df15 = pd.DataFrame(data15).iloc[0:8]
df16 = pd.DataFrame(data16).iloc[0:8]
df17 = pd.DataFrame(data17).iloc[0:8]
df18 = pd.DataFrame(data18).iloc[0:8]
df19 = pd.DataFrame(data19).iloc[0:8]
df20 = pd.DataFrame(data20).iloc[0:8]
df21 = pd.DataFrame(data21).iloc[0:8]
df22 = pd.DataFrame(data22).iloc[0:8]



dfc1 = pd.DataFrame(data1).iloc[:,[0,1,2]]
dfc2 = pd.DataFrame(data2).iloc[:,[0,1,2]]
dfc3 = pd.DataFrame(data3).iloc[:,[0,1,2]]
dfc4 = pd.DataFrame(data4).iloc[:,[0,1,2]]
dfc5 = pd.DataFrame(data5).iloc[:,[0,1,2]]
dfc6 = pd.DataFrame(data6).iloc[:,[0,1,2]]
dfc7 = pd.DataFrame(data7).iloc[:,[0,1,2]]
dfc8 = pd.DataFrame(data8).iloc[:,[0,1,2]]
dfc9 = pd.DataFrame(data9).iloc[:,[0,1,2]]
dfc10 = pd.DataFrame(data10).iloc[:,[0,1,2]]
dfc11 = pd.DataFrame(data11).iloc[:,[0,1,2]]
dfc12 = pd.DataFrame(data12).iloc[:,[0,1,2]]
dfc13 = pd.DataFrame(data13).iloc[:,[0,1,2]]
dfc14 = pd.DataFrame(data14).iloc[:,[0,1,2]]
dfc15 = pd.DataFrame(data15).iloc[:,[0,1,2]]
dfc16 = pd.DataFrame(data16).iloc[:,[0,1,2]]
dfc17 = pd.DataFrame(data17).iloc[:,[0,1,2]]
dfc18 = pd.DataFrame(data18).iloc[:,[0,1,2]]
dfc19 = pd.DataFrame(data19).iloc[:,[0,1,2]]
dfc20 = pd.DataFrame(data20).iloc[:,[0,1,2]]
dfc21 = pd.DataFrame(data21).iloc[:,[0,1,2]]
dfc22 = pd.DataFrame(data22).iloc[:,[0,1,2]]

,reviewId,content,score
0,8036e5bd-50b5-4ec9-b2fc-59ae67ac6d1c,Very nice game üëçüëçüëç,5
1,85f0363a-82b5-4877-b96a-2896e8c3b9b7,"Last few days no ads, always says connection p...",4
2,6434d362-f869-4443-a6af-47b27bc0e0fb,sigma boy I am Sigma,5
3,d48af578-78aa-4f01-9966-ff8293766cb6,I love this game and I had so many limited cha...,5
4,175c0803-b308-4c8d-b288-7d423d289bad,it's a fun game but once you keep playing it t...,2
...,...,...,...
9995,8861a053-b0cb-4b8a-8865-578386efed09,fis gem is so so goodd,5
9996,5f64bd9c-c6d0-4ce3-864c-deb30f02e99f,great game it's actually work HAHAHAHHA,5
9997,387fd3c8-49e3-4216-afd1-20335b8995da,is this good game four offline player,5
9998,5cca6b02-fd1a-4136-a395-1a973a03f147,üëçüëçüëç,5
9999,a466192b-8bd0-4c3a-9a43-75ff678392f1,i love it game in 10 years,5

## Class Project II

<b>Cadbury Nigeria Plc</b> manufactures and sells branded fast moving consumer goods to the Nigerian market and exports in West Africa. The Company produces intermediate products, such as cocoa butter, liquor, cake and powder. It exports cocoa butter, cake and liquor to international customers, and cocoa powder locally. It operates through three segments: Refreshment Beverages, Confectionery and Intermediate Cocoa Products. The Refreshment Beverages segment includes the manufacture and sale of Bournvita and Hot Chocolate. The Confectionery segment includes the manufacture and sale of Tom Tom and Buttermint. The Intermediate Cocoa Products segment includes the manufacture and sale of cocoa powder, cocoa butter, cocoa liquor and cocoa cake. The Refreshment Beverages' brands include CADBURY BOURNVITA and CADBURY 3-in-1 HOT CHOCOLATE. The Confectionery's brands include TOMTOM CLASSIC, TOMTOM STRAWBERRY and BUTTERMINT. The Intermediate Cocoa Products' brands include COCOA POWDER and COCOA BUTTER.

You have been employed as an expert python developer to create a program to document the consumption categories of their products and brands. Using your knowledge of Pandas DataFrames develop the program that saves the list of products (export, segments and brands) in a .csv excel file.<br><br>
Hint: save the filename as <font color="green"><i>cadbury_market.csv</i></font>.

In [ ]:
exp = {'International':['Cocoa butter','Cake','Liquor'],
          'Local':['Cocoa Powder']}

seg = {'Refreshment Beverages':['Bournvita', 'Hot Chocolate'],
       'Confectionery':['Tom Tom' 'Buttermint'],
       'Intermediate':['cocoa powder', 'cocoa butter', 'cocoa liquor', 'cocoa cake']}

brnd= {'Intermediate':['Cadbury Cocoa Powder','Cadbury Cocoa Butter'],
'Confectioneries':['TomTom Classic','TomTom Strawberry','Buttermint'],
'Beverages':['Cabury Bournvita','Cadbury 3-in-1 Hot Chocolate',]}

data = {
    'Category': ['International', 'International', 'International', 'Local'],
    'Product': ['Cocoa butter', 'Cake', 'Liquor', 'Cocoa Powder'],
    'Segment': ['Intermediate', 'Intermediate', 'Intermediate', 'Refreshment Beverages'],
    'Brand': ['Cadbury Cocoa Butter', 'Cadbury Cocoa Powder', 'Cadbury Cocoa Liquor', 'Cadbury Bournvita']
}

df = pd.DataFrame(data)

df.to_csv('cadbury_market.csv')