In [1]:
#Project 1
import pandas as pd

# Girls Data
girls = ["Evelyn", "Jessica", "Somto", "Edith", "Liza", "Madonna", "Waje", "Tola", "Aisha", "Latifa"]
ages_girls = [17, 16, 17, 18, 16, 18, 17, 20, 19, 17]
heights_girls = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]
scores_girls = [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]

# Boys Data
boys = ["Chinedu", "Liam", "Wale", "Gbenga", "Abiola", "Kola", "Kunle", "George", "Thomas", "Wesley"]
ages_boys = [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]
heights_boys = [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7]
scores_boys = [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]

names = girls + boys
ages = ages_girls + ages_boys
heights = heights_girls + heights_boys
scores = scores_girls + scores_boys

data = {
    'Name': names,
    'Age': ages,
    'Height': heights,
    'Score': scores
}

df = pd.DataFrame(data)

# Display the data in tabular form
print(df)

       Name  Age  Height  Score
0    Evelyn   17     5.5     80
1   Jessica   16     6.0     85
2     Somto   17     5.4     70
3     Edith   18     5.9     60
4      Liza   16     5.6     76
5   Madonna   18     5.5     66
6      Waje   17     6.1     87
7      Tola   20     6.0     95
8     Aisha   19     5.7     50
9    Latifa   17     5.5     49
10  Chinedu   19     5.7     74
11     Liam   16     5.9     87
12     Wale   18     5.8     75
13   Gbenga   17     6.1     68
14   Abiola   20     5.9     66
15     Kola   19     5.5     78
16    Kunle   16     6.1     87
17   George   18     5.4     98
18   Thomas   17     5.8     54
19   Wesley   19     5.7     60

Algorithm
1. Input the Data
2. Organize data into their various groups
3. Merge the data of both boys and girls
4. Create tabular representation i.e by using panda library
5. Display the table

In [78]:
#Project2
print("Please state your age")
age = int(input())
print("Please state your number of years of experience")
experience = int(input())

if age >= 55 and experience >= 25:
  annual_tax = 5600000.00
  print("Your Annual Tax Revenue is:",annual_tax)

elif age >= 45 and experience >= 20:
  annual_tax = 4480000.00
  print("Your Annual Tax Revenue is:",annual_tax)

elif age >= 35 and experience >= 10:
    annual_tax = 1500000.00
    print("Your Annual Tax Revenue is:",annual_tax)

elif age<= 35 and experience <= 10:
    annual_tax = 550000.00
    print("Your annual Tax Revenue is:",annual_tax)

Please state your age

 99

Please state your number of years of experience

 99

Your Annual Tax Revenue is: (5, 600, 0.0)